{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div id="primaryContent">
        <h2 id="title">About Standaridized Metrics Reporting and Storage</h2>
        <h6>This project is a free program for the John Deere Corporation created by NDSU Students Jordan Meidinger, Jayden Rosenau, 
        Wyly Andrews, and Anna Carlson. It will be used by the Engineers of multiple projects, teams, 
        and divisions among John Deere. SMRS will achieve data collection, storing, and filtering defects and reviews from all projects. 
        It stores this information after retrieving it from the used repositories such as Github and Collaborator. 
        After successfully collecting and storing the data the program allows for filtration of the reviews and defects pertaining to 
        the user logged in. This application will be used locally for the time being but with potential of being implemented in different cities.
        </h6>
        <div class="d-flex justify-content-center">
            <h6>More Information can be found : <a href= "https://github.com/jwmeidinger/SMRS">GitHub</a></h6>
        </div>
    </div>
    
</div>


{% endblock content %}
