{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load render_table from django_tables2 %}
<head>
  <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
</head>

<div class="container">
<body>
  <div id="primaryContent">
    <h2 id="title">Dashboard</h2>

    <div id="dashboard">
        <div class="soloItem">
          <h3>Date range: {{date_range_message}}</h3>
          <form class="form-signin" method="post">{% csrf_token %}
            <label >Start Date:</label>
            <input type='text' name="startDate" class="form-control" placeholder="YYYY-MM-DD">
            <label >End Date:</label>
            <input type='text' name="endDate" class="form-control" placeholder="YYYY-MM-DD">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Filter</button>
          </form>
        </div>
        <div class="soloItem">

          <div id="item001">
          <h3>Review tracking per month</h3>
          <div class="graph">
            {{ RoT_graph|safe  }}
          </div>
        </div>

      </div>

      <div class="soloItem">

        <h3>Number of Defects Per Release</h3>
        <p>Color represents different years</p>
        <div class="graph">
          {{ DWF_graph|safe  }}
        </div>
      </div>
      <div class="soloItem">

          <h3>Post Release Defects</h3>
        
          <div class="graph">
            {{ PRD_graph|safe  }}
          </div>
    </div>

  </div>
<div class="soloItem">
  <h3>Open Defects Table</h3>
  <div class="graph">
    {% render_table open_defects_table %}
  </div>
</div>
<div class="soloItem">
  <h3>Open Reviews Table</h3>
  <div class="graph">
    {% render_table open_reviews_table %}
  </div>
</div>
<div class="soloItem">
  <h3>Post Release Containment</h3>
  <div class="graph">
    {{ containment_pie|safe }}
  </div>
</div>
</body>
</div>

{% endblock content %}
