{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>

  <!-- <link rel="stylesheet" href="{% static 'css/master.css' %}"> -->
  <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
  <!-- <link rel="stylesheet" href="{% static 'css/projects.css' %}"> -->

</head>
<div class="container">
<body>
  <div id="primaryContent">
    <h2 id="title">Dashboard</h2>

    <div id="dashboard">

        <div class="soloItem">

          <div id="item001">
          <h3>Review tracking per month</h3>
          <div class="graph">
            {{ graph2|safe  }}
          </div>
        </div>

              <!-- <button type="button" onclick="document.getElementById('item001').style.display='none'">Hide</button> -->
      </div>


        <!-- <img class="expandable" src= "{% static 'images/graphPlaceHolder.png' %}" alt=""> -->

      <div class="soloItem">

        <h3>Number of Defects Per Release</h3>
        <p>Color represents different years</p>
        <div class="graph">
          {{ graph|safe  }}
        </div>
        <form class="form-signin" method="post">{% csrf_token %}
          <label >Start Date:</label>
          <input type='text' name="startDate" class="form-control" placeholder="YYYY-MM-DD">
          <label >End Date:</label>
          <input type='text' name="endDate" class="form-control" placeholder="YYYY-MM-DD">
          <button class="btn btn-lg btn-primary btn-block" type="submit">Filter</button>
        </form>
      </div>
      <div class="soloItem">

          <h3>Solo Item 3</h3>

          <div class="graph">
            {{ graph3|safe  }}
          </div>
    </div>

  </div>
<div class="graph">
  {{ graph|safe }}
</div>
</body>
</div>

{% endblock content %}
