{% extends 'base.html' %}
{% load static %}
{% block content %}

<head>
<link rel="stylesheet" href="{% static 'css/projects.css' %}">
</head>

<body>
<div class="container">
  <div id="primaryContent">
    <h2 id="title">Projects</h2>
    <!-- For this version we're assuming that one person is on one team. In udpates this needs to be changed -->
    <h3>Team ID: {{team}}</h3>


    <h3>Favorites</h3>
    <table>
      <tr>
        <th>Project Name</th>
        <th>Project Owner</th>
        <th>Remove Fav</th>
      </tr>

      {% for project in FavProjects %}
      <tr>
        <td ><a href="{% url 'dashboard:detail' project.pk %}">{{project.name}}</a></td>
        <!-- For Now the Team ID is redundent information since one person is in one team. But in future updates we hope to have one person on many teams. -->
        <td>{{project.productOwner}}</td>
        <td><a href="{% url 'dashboard:delfav' project.pk %}">X</a></td>
      </tr>

      {% endfor %}
    </table>

    <h3>All Team Projects</h3>
    <table>
      <tr>
        <th>Project Name</th>
        <th>Project Owner</th>
        <th>Add Favorite</th>
      </tr>

      {% for project in projects %}
      <tr>
        <td ><a href="{% url 'dashboard:detail' project.pk %}">{{project.name}}</a></td>
        <!-- For Now the Team ID is redundent information since one person is in one team. But in future updates we hope to have one person on many teams. -->
        <td>{{project.productOwner}}</td>
        <td><a href="{% url 'dashboard:addfav' project.pk %}">+</a></td>
      </tr>

      {% endfor %}
    </table>



  </div>
</div>
</body>



{% endblock content %}
