{% extends 'base.html' %}

{% block content %}

<div class="container">
  <h1 class="h3 font-weight-normal text-center ">{{projectName}}</h1>
  <div class="row">
    <div class="col-sm-6">
    <h3 class='mb-3 font-weight-normal display-6 text-center' >Project Reviews:</h3>
      {% if allReviews %}
        {% for item in allReviews %}
          <ul class= 'list-group '>
            <a href="{% url 'dashboard:reviewDetail' item.pk %}" style="text-decoration: none;">
              <li class="list-group-item">{{item}}</li>
            </a>
          </ul>
        {% endfor %}

      {% endif %}
    </div>
    <div class="col-sm-6">
        {% if openDefects %}
        <h3 class='mb-3 font-weight-normal display-6 text-center' >Open Defects:</h3>
            {% for item in openDefects %}
              <ul class= 'list-group '>
                <a href="{% url 'dashboard:defectDetail' item.pk %}" style="text-decoration: none;">
                  <li class="list-group-item" >{{item}} - {{item.description|slice:":55"}}</li>
                </a>
              </ul>
            {% endfor %}

          {% else %}
          <h3 class='mb-3 font-weight-normal display-6 text-center' >Project Defects:</h3>
          {% for item in allDefects %}
            <ul class= 'list-group '>
              <a href="{% url 'dashboard:defectDetail' item.pk %}" style="text-decoration: none;">
                <li class="list-group-item" >{{item}} - {{item.description|slice:":55"}}</li>
              </a>
            </ul>
          {% endfor %}
          <div class="">
            {% include "snippets/paginator_allDefects.html" %}
          </div>
        {% endif %}
        {% if openDefects or allDefects  %}
        <form method="post">{% csrf_token %}
          <div class="form-check text-center">
            <input type="hidden" name="defectCheck" value="0"/>
            {% if openDefects %}
            <input class="form-check-input" type="checkbox" value="notopenDefect" name="defectCheck" checked>
            {% else %}
            <input class="form-check-input" type="checkbox" value="openDefect" name="defectCheck" >
            {% endif %}
            
            <label class="form-check-label" for="defectCheck">
              Open defects only
            </label>
          </div>
          <div class="myCenter">
              <div style="width: 100px;" >
                <button class="btn btn-lg btn-primary btn-block" type="submit">Filter</button>
                
              </div>
          </div>
        </form>
        {% endif %}
      </div>
  </div>
</div>


{% endblock content %}
