{% extends 'base.html' %}
{% load static %}
{% block content %}

<head>

<link rel="stylesheet" href="{% static 'css/details.css' %}">
</head>


<div class="container">
    <div class="row">
    <div class="col-sm-2"></div> <!--Off set-->
        <div class="col-sm-8">
        <form class="form-signin" method="post">{% csrf_token %}
            <h1 class="h3 mb-3 font-weight-normal">Review: {{form.initial.projectID}}</h1>
            <h3 class="h4">Date Opened</h3>
            <input type="text" name="dateOpened"  class="form-control" placeholder="Date Opened" required autofocus value = "{{form.initial.dateOpened|date:'Y-m-d' }}">
            <h3 class="h4">Date Closed</h3>
            <input type="text" name="dateClosed"  class="form-control" placeholder="Date Closed" value = "{{form.initial.dateOpened|date:'Y-m-d' }}">

            {% for field in form %}
                {% if field.name == "projectID" %}
                <h3 class="h4">Project Id</h3>
                <input list="projectID" name="projectID"   class="form-control" placeholder="Project ID"  required value = "{{form.initial.projectID}}" >
                    <datalist id ="projectID" >
                        {% for choice_id, choice_label in field.field.choices %}
                            <option value="{{choice_id}}">{{choice_label}}</option>
                        {% endfor %}
                    </datalist>
                {% endif %}
            {% endfor %}
            <p class="info"> If you would like to change the Product ID please change to PK</p>
            {% for field in form %}
                {% if field.name == "whereFound" %}
                <h3 class="h4">Where Found</h3>
                <input list="whereFound" name="whereFound"  class="form-control" placeholder="Where Found" required value = "{{form.initial.whereFound}}">
                    <datalist id ="whereFound" >
                        {% for choice_id, choice_label in field.field.choices %}
                            <option value="{{choice_id}}">{{choice_label}}</option>
                        {% endfor %}
                    </datalist>
                {% endif %}
            {% endfor %}
            <p class="info"> If you would like to change the Where Found please change to PK</p>
            <h3 class="h4">Tag</h3>
            <input type="text" name="tag" class="form-control" placeholder="Tag" required value = "{{form.initial.tag}}">
            <h3 class="h4">Severity</h3>
            <input type="text" name="severity" class="form-control" placeholder="Severity" required value = "{{form.initial.severity}}">
            <h3 class="h4">Url</h3>
            <input type="text"  name="url"  class="form-control" placeholder="URL" required value = "{{form.initial.url}}">
                {% if form.errors %}
                    <div class="alert alert-danger">
                        <strong> {{error|escape}} </strong>
                    </div>

                {% endif %}
                {%if success_message %}
                    <p style = "color: green; text-align: center"> {{success_message}}</p>
                {% endif %}
                <div><p></p></div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Save Changes</button>
                <p class="info"> If you change anything be sure to update the source</p>
            </form>
        </div>
    <div class="col-sm-2"></div> <!--Off set-->
    </div>
</div>

{% endblock content %}
