{% extends 'base.html' %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-3 align-self-center">
      {% if TeamMembers %}
      <h3 class='mb-4 font-weight-normal display-6 mx-auto' >Members:</h3>
      {% for item in TeamMembers %}
        <ul class= 'list-group '>
          <a style="text-decoration: none;">
            <li class="list-group-item">{{item}}</li>
          </a>
        </ul>
      {% endfor %}
      {% endif %}
    </div>
    <div class="col-sm-6">
        <h1 class="h4">Team : {{TeamName}}</h1>
        {% if projectList %}
        <h3 class='mb-3 font-weight-normal display-6 mx-auto' >Projects:</h3>
        {% for item in projectList %}
          <ul class= 'list-group '>
            <a href="{% url 'dashboard:detail' item.pk %}" style="text-decoration: none;">
              <li class="list-group-item" >{{item}}</li>
            </a>
          </ul>
        {% endfor %}
        {% endif %}
    </div>
      <div class="col-sm-3"></div> <!--Off set-->
  </div>
</div>


{% endblock content %}
