{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/master.css' %}">
<link rel="stylesheet" href="{% static 'css/team.css' %}">


<div class='container mt-4 p-4'
  style="max-width: 500px;
         width:     100%;
         margin:    auto;">
  <h1 id='title'>{{TeamName}}</h1>
  <div class='row'>
    {% if projectList %}
    <h3 class='mb-3 font-weight-normal display-6 mx-auto' >Team Projects:</h3>
    </div>
     {% for item in projectList %}
      <ul class= 'list-group '>
        <a href="{% url 'dashboard:detail' item.pk %}" style="text-decoration: none;">
          <li class="list-group-item" style="background-color: #f2f2f2;">{{item}}</li>
        </a>
      </ul>
    {% endfor %}
    {% endif %}
</div>

<div class='container mt-4 p-4'
  style="max-width: 500px;
         width:     100%;
         margin:    auto;">
  <div class='row'>
    {% if TeamMembers %}
    <h3 class='mb-4 font-weight-normal display-6 mx-auto' >Members:</h3>
    </div>
     {% for item in TeamMembers %}
      <ul class= 'list-group '>
        <a style="text-decoration: none;">
          <li class="list-group-item" style="background-color: #f2f2f2;">{{item}}</li>
        </a>
      </ul>
    {% endfor %}
    {% endif %}
</div>


{% endblock content %}
