/* Font imports */
@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Noto+Sans&display=swap');
/* Font calls:

    font-family: 'Noto Sans', sans-serif;

    font-family: 'Fjalla One', sans-serif;

 */
#primaryContent{
  /* background-color: #f5f2d0; */
}

body{
  text-align: center;
  /*font-family: 'Noto Sans', sans-serif;*/
}

h2, #subTitle{
  font-family: 'Fjalla One', sans-serif;
}



.projectList{
  border: 2px solid black;
  margin-bottom: 1em;
  background-color: white;
}





button{
  background-color: #c5edba;
  font-size: 20px;
  border-radius: 8px;
}
