<!DOCTYPE html>
<html>
<head>
<title>SMRS</title>
{% load static %}

<!-- Nav bar and Bootstrap links -->
{% include 'snippets/header.html' %}
<!-- end Nav bar -->

<!-- Theme -->

<!-- Place defaults at top -->
<link rel="stylesheet" href="{% static 'css/master.css' %}">

{% if request.user.darkColorScheme == "Light" %}
<link rel="stylesheet" href="{% static 'css/lightMode.css' %}">

{%elif request.user.darkColorScheme == "Dark"%}

<link rel="stylesheet" href="{% static 'css/darkMode.css' %}">

<!-- If neither is set default to to light mode -->
{%else%}
<link rel="stylesheet" href="{% static 'css/lightMode.css' %}">


{% endif %}
<!-- End Theme -->

<!-- Form formating -->
{% include 'snippets/formCss.html' %}

</head>

<body>

  <!-- This allows the footer to be on the bottom always -->
  <style type = "text/css">
    .main{
      min-height: 100vh;
      height: 100%;
    }
  </style>

  <div class="main">
    {% block content %}

    This is replaced

    {% endblock %}
  </div>

<!-- Footer --> {% include 'snippets/footer.html' %}

</body>

</html>
