<!DOCTYPE html>
<html>
<head>
<title>SMRS</title>
  
  <!-- this is for later ..... currently used for Bootstrap --> {% include 'snippets/header.html' %}
  
</head>

<body>

  <!-- This allows the footer to be on the bottom always -->
  <style type = "text/css">
    .main{
      min-height: 100vh;
      height: 100%;
      background-color: rgb(250, 250, 247);
      
    }
  </style>
  <div class="main">
    {% block content %} 

    This is replaced

    {% endblock %}
  </div>




<!-- this is for later --> {% include 'snippets/footer.html' %}
</body>

</html>