.expandable{
  max-width: 300px;
}

#dashboard{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;


}

#dashboard .soloItem .graph{
  height:600px;
  /* min-width: 25%; */
  max-width:100%;
}



.soloItem{
  text-align: center;
  width:100%;
  /* background-color: #fff8dc ; */
  padding: .5em;

}


/* Auto adjust tabbed out for now. Trying out simple 100% width */
/* @media only screen and (max-width: 1200px) {
  .soloItem {

    width:40%;
  }
}

@media only screen and (max-width: 600px) {
  .soloItem {
    width:100%;
  }
} */
